<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="post"> {%csrf_token%}
        <input type="text" placeholder="username" name="username">
        <br>
        <input type="email" placeholder="email" name="email">
        <br>
        <input type="password" placeholder="senha" name="senha">
            <br>
        <input type="submit" value="Cadastro">
    </form>
</body>
</html>
